@using Microsoft.Ajax.Utilities
@using TeachingSite.Areas.Questions.Models
@model TeachingSite.Areas.Questions.Models.Theme

@{
    List<GrammaQuestion> GrammaQuestions = ViewBag.GrammaQuestions;
    List<LexicQuestion> LexicQuestions = ViewBag.LexicQuestions;
    List<Question> Questions = ViewBag.Questions;

    ViewBag.Title = "Create theme";
}

<h1>Theme creation</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>New theme</h4></div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5", cols = "40" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Choosen questions</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge">delete</span> Ко мне уже несколько лет регулярно обращаются заказчики с просьбой завершить вёрстку их проекта, которую по каким либо причинам не закончил другой исполнитель, или поправить баги, несмотря на то, что я не работаю с чужим кодом, или ломлю за это двойную цену. Судя по ленте проектов известных российских фрилансерских сайтов, эта проблема стоит достаточно остро, за доработки никто не хочет браться. Самое удивительное, что большая часть ошибок совершенно типовые и легко исправляемые. </li>
                            <li class="list-group-item"><span class="badge">delete</span> Deleted</li>
                            <li class="list-group-item"><span class="badge">delete</span> Warnings</li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Chose questions</h4></div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#G"><b>Grammatic</b>@{
                                    if (GrammaQuestions != null)
                                    {
                                    <span class="badge">
                                        @GrammaQuestions.Count
                                    </span>
                                    }
                                    else {<span class="badge">0</span>}
                                }
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#L"><b>Lexical</b>@{
                                    if (LexicQuestions != null)
                                    {
                                    <span class="badge">
                                        @LexicQuestions.Count
                                    </span>
                                    }
                                    else {<span class="badge">0</span>}
                                }
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#A"><b>All</b>@{
                                if (Questions != null)
                                {
                                    <span class="badge">
                                        @Questions.Count
                                    </span>
                                    }
                                    else {<span class="badge">0</span>}
                                }
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="G" class="tab-pane fade in active">
                            @{
                                if (GrammaQuestions != null)
                                {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>Question</th>
                                            <th>Aswer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (GrammaQuestion q in GrammaQuestions)
                                        {
                                        <tr>
                                            <td><input class="form-control" type="checkbox" name="selectedQuestions" value="@q.Id" /></td>
                                            <td>
                                                <span class="label label-success">@q.GrammaCategory</span>
                                                <span class="label label-info">@q.EslLevel</span>
                                                <br />
                                                <span class="glyphicon glyphicons-question-sign"></span> @q.Body
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicons-lightbulb"></span> @q.Answer
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                }
                            }
                        </div>
                        <div id="L" class="tab-pane fade">
                            @{
                                if (LexicQuestions != null)
                                {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>Question</th>
                                            <th>Aswer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (LexicQuestion q in LexicQuestions)
                                        {
                                        <tr>
                                            <td><input class="form-control" type="checkbox" name="selectedQuestions" value="@q.Id" /></td>
                                            <td>
                                                <span class="label label-success">@q.Topic</span>
                                                <span class="label label-info">@q.LexicType</span>
                                                <br />
                                                <span class="glyphicon glyphicons-question-sign"></span> @q.Body
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicons-lightbulb"></span> @q.Answer
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                }
                            }
                        </div>
                        <div id="A" class="tab-pane fade">
                            @{
                                if (Questions != null)
                                {
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th> </th>
                                            <th>Question</th>
                                            <th>Aswer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Question q in Questions)
                                        {
                                        <tr>
                                            <td><input class="form-control" type="checkbox" name="selectedQuestions" value="@q.Id" /></td>
                                            <td>
                                                <span class="glyphicon glyphicons-question-sign"></span> @q.Body
                                            </td>
                                            <td>
                                                <span class="glyphicon glyphicons-lightbulb"></span> @q.Answer
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
