
@{
    ViewBag.Title = "Questions editor";
}
<div class="jumbotron">
    <h1>Questions constractor</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div class="row">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" style="background: orange;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-decoration: none;">
                        <h2>Questions</h2>
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body" style="background: greenyellow;">
                    <div class="list-group">
                        <ul>
                            <li>
                                @Html.ActionLink("Gramma questions", "Index", "GrammaQuestions", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                            <li>
                                @Html.ActionLink("Lexic questions", "Index", "LexicQuestions", "QuestionsEditor", new {@class = "disabled"})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background: orange;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-decoration: none;">
                        <h2>Themes</h2>
                    </a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body" style="background: greenyellow;">
                    <div class="list-group">
                        <ul>
                            <li>
                                @Html.ActionLink("List of themes", "Index", "Themes", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                            <li>
                                @Html.ActionLink("Create a theme", "Create", "Themes", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background: orange;">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-decoration: none;">
                        <h2>Questions parameters</h2>
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body" style="background: greenyellow;">
                    <div class="list-group">
                        <ul id="parameters" name="parameters">
                            <li>
                                @Html.ActionLink("LexicTypes", "Index", "LexicTypes", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                            <li>
                                @Html.ActionLink("EslLevels", "Index", "EslLevels", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                            <li>
                                @Html.ActionLink("GrammaCategories", "Index", "GrammaCategories", "QuestionsEditor", new {style = "color:green; text-decoration:none;"})
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>